<template>
  <div>
    <h2>{{ title }}</h2>
    <p>{{ message }}</p>
    <p id="alt">{{ altMsg }}</p>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";

const PopupProps = Vue.extend({
  props: {
    title: String,
    message: String,
    altMsg: String
  }
});

@Component
export default class Popup extends PopupProps {}

export class PopupVals {
  title: string = "";
  message: string = "";
  altMsg: string = "";
  visible: boolean = false;
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
div {
  width: 270px;
  height: 150px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -75px 0 0 -135px;

  color: white;
  background: #b3121263;
  border-radius: 25px;

  pointer-events: none;
}
#alt {
  color: #ff8a8a;
}
</style>
