<template>
  <div>
    <Canvas ref="canvas"
      @mousedown.native.left="handleMousePress"
      @mouseup.native.left="handleMouseRelease"
      @mousemove.native.left="handleMouseMove"
      @keydown.native="handleKeyDown"
      @keyup.native="handleKeyUp"
      >
    </Canvas>
    <Popup
      v-if=popupVals.visible
      :title=popupVals.title
      :message=popupVals.message
      :altMsg=popupVals.altMsg
      >
      </Popup>
    <resize-observer @notify="handleResize" />
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";
import { vec2, vec3, mat4 } from "gl-matrix";
import {
  GLUtils,
  Camera,
  CameraMover,
  CameraUtils,
  Scene,
  DisplayMode,
  Ray3
} from "ts-graphics";
import Machine from "@/game/Machine";
import { ToolParams, CutterType } from "@/game/ToolParams";
import GameRunner from "@/engine/GameRunner";
import SharedGameData from "@/engine/SharedGameData";
import Canvas from "@/components/Canvas.vue";
import Popup, { PopupVals } from "@/gui/Popup.vue";
import "fpsmeter";

@Component({
  components: {
    Canvas,
    Popup
  }
})
export default class TomToolGame extends Vue {
  private glUtils: null | GLUtils = null;
  private prevScreenPos: vec2 | null = vec2.create();

  private gameData: null | SharedGameData = null;
  private gameRunner: null | GameRunner = null;

  private machine: null | Machine = null;
  private popupVals: PopupVals = new PopupVals();

  private fpsMeter: FPSMeter = new FPSMeter(undefined, {
    theme: "transparent",
    heat: 1,
    graph: 1
  });

  mounted(): void {
    const canvas: Canvas = <Canvas>this.$refs.canvas;

    const gl: WebGLRenderingContext = canvas.glContext;

    this.glUtils = new GLUtils(gl);
    gl.disable(gl.DEPTH_TEST); // Drawing order is all that matters in 2D

    this.gameRunner = new GameRunner(
      this.updateGame.bind(this),
      this.renderGame.bind(this)
    );

    this.gameData = this.gameRunner.sharedGameData;

    this.gameData.cameraMover.camera.aspectRatio =
      canvas.width() / canvas.height();
    this.gameData.cameraMover.offsetFromAnchor = 500;

    this.machine = new Machine(this.glUtils, this.gameData, this.popupVals);

    this.gameRunner.runLoop();
  }

  updateGame(_: SharedGameData): void {
    (<Machine>this.machine).update();
  }

  renderGame(_: SharedGameData): void {
    const gl: WebGLRenderingContext = (<GLUtils>this.glUtils).getContext();
    gl.clear(gl.COLOR_BUFFER_BIT | gl.DEPTH_BUFFER_BIT);
    gl.viewport(0, 0, gl.drawingBufferWidth, gl.drawingBufferHeight);
    (<Machine>this.machine).render();
    this.fpsMeter.tick();
  }

  handleResize(): void {
    const canvas: Canvas = <Canvas>this.$refs.canvas;
    canvas.resize();

    const gameData: SharedGameData = <SharedGameData>this.gameData;
    gameData.cameraMover.camera.aspectRatio = canvas.width() / canvas.height();

    this.renderGame(gameData);
  }

  getScreenPos(event: MouseEvent): vec2 | null {
    const x: number = event.clientX;
    const y: number = event.clientY;
    if (x !== undefined && y !== undefined) {
      return vec2.fromValues(x, y);
    }
    return null;
  }

  getWorldPos(event: MouseEvent): vec2 | null {
    const screenPos: vec2 | null = this.getScreenPos(event);

    const gameData: SharedGameData = <SharedGameData>this.gameData;

    if (screenPos != null) {
      const ray: Ray3 = CameraUtils.getRayFromScreenPos(
        gameData.cameraMover.camera,
        screenPos[0],
        screenPos[1],
        (<HTMLCanvasElement>this.$el).clientWidth,
        (<HTMLCanvasElement>this.$el).clientHeight
      );

      const pos3: vec3 | null = gameData.cameraMover.intersectPlaneAtAnchor(
        ray
      );
      if (pos3 != null) {
        return vec2.fromValues(pos3[0], pos3[1]);
      }
    }
    return null;
  }

  handleMousePress(event: MouseEvent): void {
    (<Machine>this.machine).handleMousePress(event, this.getWorldPos(event));
  }

  handleMouseRelease(event: MouseEvent): void {
    (<Machine>this.machine).handleMouseRelease(event);
  }

  handleMouseMove(event: MouseEvent): void {
    (<Machine>this.machine).handleMouseMove(event, this.getWorldPos(event));
  }

  handleKeyDown(event: KeyboardEvent): void {
    if (event.defaultPrevented) {
      return; // Do nothing if the event was already processed
    }
    (<Machine>this.machine).handleKeyDown(event);
  }

  handleKeyUp(event: KeyboardEvent): void {
    if (event.defaultPrevented) {
      return; // Do nothing if the event was already processed
    }

    const gameData: SharedGameData = <SharedGameData>this.gameData;

    if (event.key === "p") {
      gameData.paused = !gameData.paused;
      this.popupVals.visible = gameData.paused;

      if (this.popupVals.visible) {
        this.popupVals.title = "PAUSED";
        this.popupVals.message = "";
        this.popupVals.altMsg = "Press 'P' to resume";
      }
    }

    (<Machine>this.machine).handleKeyUp(event);
  }

  $refs!: {
    canvas: Canvas;
  };
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
div {
  width: 100%;
  height: 100%;
  background-color: black;
}
</style>
