<template>
  <div id="app">
    <TomToolGame></TomToolGame>
    <!-- <GUI></GUI> -->
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";
import TomToolGame from "@/components/TomToolGame.vue";

@Component({
  components: {
    TomToolGame
  }
})
export default class App extends Vue {}
</script>

<style>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  background-color: black;
  width: 100vw;
  height: 100vh;
}
</style>
